.projects{
    width: 100%;
    color: #dddddd;
}
.project__cards{
    margin: 4% 7%;
    font-size: 1.2rem;
}
@media only screen and (max-width: 768px) {
    .project__cards{
        flex-direction: column;
    }
}