*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}

:root{
    scroll-behavior: smooth;
}

#About{
    scroll-margin-top: 6vh;
}
#Projects{
    scroll-margin-top: 6vh;
}

.border--bottom{
    border-bottom: 1px solid #ffffff56;
}

.display--flex{
    display: flex;
}

.flex--direction-col{
    flex-direction: column;
}

.flex--justify-c-center{
    justify-content: center;
}

.flex--align-c-center{
    align-content: center;
}

.flex--align-i-center{
    align-items: center;
}

.background--color{
    background-color: #1A1A1A;
}
.body--background {
    background-image: url("../assets/background.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px){
    .body--background {
        background-image: none;
    }
    
    #About{
        scroll-margin-top: 15vh;
    }
    #Projects{
        scroll-margin-top: 15vh;
    }
}